$color-1: #132977;
$color-2: #1a2236;
$color-3: #5f9ea0;
$colorText: #00bfad;
//! **********************************************      ///
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
}
ul {
  list-style: none;
}
//? ***********************************************      ///
.dashboard-navbar {
  width: 100%;
  background: $color-2;
  box-shadow: 0 1px 4px 0 #252c41;
  color: #fff;
  padding: 2rem;
  .img-user {
    padding: 10px;
    text-align: center;
    .text-user {
      margin-top: 10px;
      font-family: Poppins, sans-serif;
      h6 {
        color: #77829e;
      }
    }
    img {
      border-radius: 50%;
      width: 50%;
      display: block;
      margin: auto;
    }
  }

  .navigation {
    .side-menu {
      list-style: none;
      text-align: center;
      font-family: Muli, sans-serif;
      font-size: 17px;
      a {
        font-weight: bold;
        color: #77829e;
        font-size: 15px;
        border-radius: 0.3rem;
        padding: 14px 15px;
        display: inline-block;
        &:hover {
          text-decoration: none;
          color: $colorText;
        }
        i {
          padding: 5px;
        }
      }
    }
  }
}

.dashboard_container {
  border: 1px solid #ddd;
  background-color: #fff;
  .img-content {
    width: 15%;
    img {
      border-radius: 50%;
    }
  }
  .caption {
    flex: 1;
    padding-left: 2rem;

    h5 {
      display: inline-block;
      margin-bottom: 5px;
      padding: 3px 12px;
      background: rgba(218, 11, 78, 0.2);
      color: #da0b4e;
      border-radius: 2px;
      font-size: 12px;
    }
    h2 {
      line-height: 26px;
      font-size: 21px;
    }
    span {
      color: #77829e;
    }
    li {
      display: inline-block;
      color: #77829e;

    }
    strong {
      color: #1a2236;
    }
    .li{
      width: 34px;
    height: 34px;
    line-height: 34px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
    margin-right: 12px;
    box-shadow: 0 0 0 3px #f1f3f7!important;
    border: 2px solid #fff;
    }
    i {
      font-style: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
    }
    .started{
      color: #d83d3d;
    background: rgba(216, 61, 61, 0.1);
    }
    .medium{
      color: #009688;
      background: rgba(0,150,136,.1);
    }
    .platinum{
      color: #ff9800;
    background: rgba(255,152,0,.1);
    }
    .elite-unlock{
      background: #f4f5f7!important;
    color: #3b5b88!important;
    }
    .power-unlock{
      background: #f4f5f7!important;
      color: #3b5b88!important;
    }
  }
}
a[data-fancybox] img {
  cursor: pointer;
  
}


.img-fluids{
  max-width: 87%;
}




.img{
  width: 400px;
  height: 250px;
  border-radius: 10%; 
}
.Courses{
  height: 100%;
  background-color: #fff;
  position: relative;
}
.layout{
  position: absolute;
  background: #17203a;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .5;
  border-radius: 1rem;
  .cen{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: radial-gradient(#1b4c4a 50%, #1c4d4b7e 52%);
    color: #fff;
    font-size: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #fff;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;

  }
}
.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 31;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .logo img {
    width: 200px;
    animation-name: logo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

@keyframes logo {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.3); } }

.Scroll-top {
  background-color: $colorText;
  color: #fff;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  font-size: 15px;
  padding: 15px;
  display: none; }
  .Scroll-top:hover {
    color: #fff; }
  .Scroll-top i {
    font-size: 20px; }




    .popup {
      display: none;
      opacity: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 30;
      overflow: auto; }
      .popup .box {
        position: relative;
        top: -200px;
        width: 75%;
        margin: auto;
        background-color: #fff;
        border-radius: 15px; }
        .popup .box .popup-head {
          position: relative;
          padding: 15px;
          border-bottom: 1px solid #333; }
          .popup .box .popup-head h5 {
            text-align: center;
            font-size: 20px;
            color: #333;
            font-weight: 600; }
          .popup .box .popup-head i {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 20px;
            color: #f1f1f1; }
            .popup .box .popup-head i:hover {
              color: black;
              cursor: pointer; }
        .popup .box .popup-body {
          padding: 0 30px; }
          .popup .box .popup-body h3 {
            text-align: center;
            color: #e97629;
            font-weight: bolder;
            margin: 30px 0; }
          .popup .box .popup-body p {
            color: #333;
            margin: 0px 20px 10px 1px;
            letter-spacing: .2px; }
        .popup .box .popup_video {
          display: block;
          opacity: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          display: none; }
          .popup .box .popup_video .box {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            position: initial;
            overflow: hidden;
            width: 60%;
            height: 70%;
            margin: 0;
            padding: 0;
            border-radius: 20px; }
          .popup .box .popup_video iframe {
            width: 100%;
            height: 100%; }
        .popup .box .section {
          color: #333; }
          .popup .box .section h3 {
            font-size: 20px;
            font-weight: bolder; }
          .popup .box .section ul, .popup .box .section ol {
            padding-left: 20px; }
            .popup .box .section ul li, .popup .box .section ol li {
              padding-left: 10px;
              margin-top: 10px; }
              .popup .box .section ul li::marker, .popup .box .section ol li::marker {
                color: #e97629;
                font-size: 15px;
                font-weight: bolder; }
          .popup .box .section ul li::marker {
            content: "-"; }





// ?

@import "_meadil";

// TODO
