* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

ul {
  list-style: none;
}

.dashboard-navbar {
  width: 100%;
  background: #1a2236;
  -webkit-box-shadow: 0 1px 4px 0 #252c41;
          box-shadow: 0 1px 4px 0 #252c41;
  color: #fff;
  padding: 2rem;
}

.dashboard-navbar .img-user {
  padding: 10px;
  text-align: center;
}

.dashboard-navbar .img-user .text-user {
  margin-top: 10px;
  font-family: Poppins, sans-serif;
}

.dashboard-navbar .img-user .text-user h6 {
  color: #77829e;
}

.dashboard-navbar .img-user img {
  border-radius: 50%;
  width: 50%;
  display: block;
  margin: auto;
}

.dashboard-navbar .navigation .side-menu {
  list-style: none;
  text-align: center;
  font-family: Muli, sans-serif;
  font-size: 17px;
}

.dashboard-navbar .navigation .side-menu a {
  font-weight: bold;
  color: #77829e;
  font-size: 15px;
  border-radius: 0.3rem;
  padding: 14px 15px;
  display: inline-block;
}

.dashboard-navbar .navigation .side-menu a:hover {
  text-decoration: none;
  color: #00bfad;
}

.dashboard-navbar .navigation .side-menu a i {
  padding: 5px;
}

.dashboard_container {
  background: #fff;
  border-radius: 0.4rem;
  padding: 0;
  position: relative;
  display: block;
  margin-bottom: 30px;
  width: 100%;
}

.dashboard_container .viewer_detail_wraps {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard_container .img-content {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  margin-right: 1rem;
}

.dashboard_container .img-content img {
  border-radius: 50%;
}

.dashboard_container .viewer_status {
  position: absolute;
  right: 10px;
  bottom: 5px;
  background: #4caf50;
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 50px;
  color: #fff;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 0;
}

.dashboard_container .caption {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 1rem;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.dashboard_container .caption .h5 {
  display: inline-block;
  margin-bottom: 5px;
  padding: 3px 12px;
  background: rgba(218, 11, 78, 0.2);
  color: #da0b4e;
  border-radius: 2px;
  font-size: 12px;
}

.dashboard_container .caption h4 {
  line-height: 26px;
  font-size: 21px;
  margin-bottom: 1px;
  color: #2d3954;
  font-weight: 600;
  text-transform: capitalize;
  font-family: Poppins,sans-serif;
}

.dashboard_container .caption ul:last-child {
  margin: 0;
}

.dashboard_container .caption li {
  display: inline-block;
  color: #77829e;
  list-style: none;
  margin-right: 1rem;
}

.dashboard_container .caption strong {
  color: #1a2236;
}

.dashboard_container .caption .li {
  width: 34px;
  height: 34px;
  line-height: 34px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 12px;
  margin-right: 12px;
  -webkit-box-shadow: 0 0 0 3px #f1f3f7 !important;
          box-shadow: 0 0 0 3px #f1f3f7 !important;
  border: 2px solid #fff;
}

.dashboard_container .caption i {
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.dashboard_container .caption .started {
  color: #d83d3d;
  background: rgba(216, 61, 61, 0.1);
}

.dashboard_container .caption .medium {
  color: #009688;
  background: rgba(0, 150, 136, 0.1);
}

.dashboard_container .caption .platinum {
  color: #ff9800;
  background: rgba(255, 152, 0, 0.1);
}

.dashboard_container .caption .elite-unlock {
  background: #f4f5f7 !important;
  color: #3b5b88 !important;
}

.dashboard_container .caption .power-unlock {
  background: #f4f5f7 !important;
  color: #3b5b88 !important;
}

.img-fluids {
  max-width: 87%;
}

.img {
  width: 400px;
  height: 250px;
  border-radius: 10%;
}

.Courses {
  background-color: #fff;
  position: relative;
}

.owl-stage {
  width: auto !important;
}

.layout {
  position: absolute;
  background: #17203a;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  border-radius: 1rem;
}

.layout .cen {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: radial-gradient(#1b4c4a 50%, #1c4d4b7e 52%);
  color: #fff;
  font-size: 40px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px dashed #fff;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.layout .time {
  position: absolute;
  right: 25px;
  bottom: 15px;
  background: #fff;
  padding: 5px 15px;
  border-radius: 6px;
  font-weight: bolder;
  color: #00bfad;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 32px;
  line-height: 0;
}

.edu_video.detail {
  padding: 12px;
  width: 100%;
  position: relative;
  display: table;
}

.edu_video.detail h4 {
  font-size: 15px;
  margin: 0;
  line-height: 24px;
  font-family: Poppins, sans-serif;
}

.edu_video.detail h4 a {
  color: #4a5682;
  text-decoration: none;
  background-color: transparent;
}

.edu_video.detail .edu_video_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.edu_video.detail .edu_video_bottom .edu_video_bottom_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.edu_video.detail .edu_video_bottom i {
  padding: 10px;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 31;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 200px;
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes logo {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.Scroll-top {
  background-color: #00bfad;
  color: #fff;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  font-size: 15px;
  padding: 15px;
  display: none;
}

.Scroll-top:hover {
  color: #fff;
}

.Scroll-top i {
  font-size: 20px;
}

.popup {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
  overflow: auto;
}

.popup .box {
  position: relative;
  top: -200px;
  width: 75%;
  margin: auto;
  background-color: #fff;
  border-radius: 15px;
}

.popup .box .popup-head i {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #f1f1f1;
}

.popup .box .popup-head i:hover {
  color: black;
  cursor: pointer;
}

.popup .box .popup_video {
  display: block;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.popup .box .popup_video .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  position: initial;
  overflow: hidden;
  width: 60%;
  height: 70%;
  margin: 0;
  padding: 0;
  border-radius: 20px;
}

.popup .box .popup_video iframe {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-button-prev {
  position: relative;
  top: -35px;
  right: 55px;
  left: auto;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  border: 1px solid #f0f3fb;
}

.swiper-button-next,
.swiper-button-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: #132977;
  border: none;
  outline: 0;
  background: 0 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px;
}

@media (min-width: 768px) and (max-width: 991) {
  .navigation a {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */